**/bin
**/obj
**/out
**/publish
**/.vs
**/.vscode
**/.idea
**/*.user
**/*.db
**/*.db-shm
**/*.db-wal

.git
.github
.gitignore
.dockerignore
Dockerfile
docker/

tests/
**/TestResults/

README.md
LICENSE
